*
*/

!sway/
!swaylock/
!zsh/
!wofi/
!waybar/
!sworkstyle
!mako/
!kanshi/
!alacritty/

!.gitignore
!sway/**
!swaylock/**
!zsh/.zsh*
!wofi/**
!waybar/**
!sworkstyle**
!mako/**
!kanshi/**
!alacritty/**
