#window {
  border-radius: 16px;
  margin: 0px;
  border: 0px solid #88c0d0;
  background-color: #2e3440;
}

#input {
  margin: 10px;
  border: none;
  font-size: medium;
  color: #d8dee9;
  background-color: #3a4252;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #2e3440;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #2e3440;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  text-align: center;
  margin: 5px;
  border: none;
  color: #d8dee9;
}

#entry {
  background-color: #2e3440;
}
#entry:selected {
  background-color: #3b4252;
}
